html {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  padding: 0;
  overflow: scroll;
  margin: 0;
  height: 200vh; /* twice the height of the viewport */
  font-family: vortice-concept, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
}
::-webkit-scrollbar {
  display: none;
}
#topHalf {
  scroll-snap-align: start;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Open+Sans:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Open+Sans:wght@400&display=swap");

/* Responsive font sizes */
@media (max-width: 768px) {
  .landing-page-title {
    font-size: 36px;
  }
  .landing-page-subtitle {
    font-size: 18px;
  }
  .playground-button {
    font-size: 16px;
    padding: 8px 16px;
    color: white;
  }
  .frosted-glass {
    /* Adjust the flex-direction to column-reverse to put the input bar at the bottom */
    flex-direction: column-reverse;
  }
}

@media (max-width: 480px) {
  .landing-page-title {
    font-size: 32px;
  }
  .landing-page-subtitle {
    font-size: 16px;
  }
  .playground-button {
    font-size: 14px;
    padding: 6px 12px;
    width: 80vw;
  }
  .landing-page-header {
    padding-left: 10px; /* Adjust padding as needed for horizontal spacing */
  }
  .frosted-glass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw; /* or any desired width */
  }
}

#bottomHalf {
  scroll-snap-align: start;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#bubblezSVG {
  position: fixed;
  height: 100%;
  width: 110%;
  top: 0;
  left: -5%;
  overflow: visible;
  z-index: -1;
}

#top {
  z-index: 2;
  pointer-events: none;
}

svg {
  font-size: 35px;
  fill: #313639;
}

#textSVG {
  position: fixed;
  width: 110%;
  top: 40vh;
  left: -5%;
}
/* Contact Button Styles */
.contact-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 4px;
  border: 2px solid #ffbfd7;
  background-color: transparent;
  color: #ffbfd7;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.contact-button:hover {
  background-color: #ffbfd7;
  color: white;
}

/* Try Playground Button Hover Effect */
.try-playground-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
